@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Antic);

html, body, div, section, article, header, footer, nav, aside, a {
    margin:                     0;
    padding:                    0;
}

body{
    font-family:                'Antic', sans-serif;
    background-image:           url(http://subtlepatterns.com/patterns/frenchstucco.png);
}

/*==========================================
    header styles
==========================================*/

#main-header {
    width:                      100%;
    z-index:                    999;
    position:                   fixed;
    top:                        0;
    left:                       0;
    background-color:           rgba(255,255,255,0.7);
    border-bottom:              1px dotted #808080;
}

#header-navigation {
    padding:                    0;
    width:                      960px;
    margin:                     10px auto;

}

#header-navigation:hover li {
    opacity:                    0.6;
}
#header-navigation:hover li a {
    text-shadow:                0px 0px 5px #000000;
}

#header-navigation:hover li:hover {
    opacity:                    1;
}
#header-navigation li.trans {
    opacity:                    0.5;
}
#header-navigation li {
    font-size:                  20px;
    display:                    inline-block;
    -webkit-transition:         all 500ms linear;
    padding:                    0 ;

}
#header-navigation li:last-child a {
    border: 0
}

#header-navigation li a {
    font-family:                'Antic', sans-serif;
    color:                      transparent;
    display:                    block;
    text-shadow:                0px 0px 2px #000000;
    padding:                    0 10px;
    text-align: center;
    border-right:               1px dotted #000;
}

#header-navigation li a:hover {
    color:                      #545454;
    -webkit-transition:         all 500ms linear;
    text-shadow:                0px 0px 1px #000000;
}

#header-navigation li a.selected {
    color:                      #000;
}


/*==========================================
    content styles
==========================================*/

#page_impressum {
    font-size: 12px;
}
#page_impressum a{
    color: #aaa;
}
#content {
    width:                      960px;
    margin:                     110px auto 0;
}

.content-inner {
    position:                   relative;
    margin:                     auto;
    background-image:           url(http://subtlepatterns.com/patterns/low_contrast_linen.png);
    width:                      780px;
    overflow:                   hidden;
}

#content .fix-height {
    box-sizing:                 border-box;
    padding-bottom:             40px;
}

.content {
    height:                     0;
    box-sizing:                 border-box;
    padding:                    0 20px;
    overflow:                   hidden;
    color:                      #C0C0C0;
    -webkit-transition:         all 1000ms;
    -webkit-transform:          perspective(700px) 
                                translate3d(0,0,-5000px);
    -webkit-backface-visibility:hidden;
}

.content.selected {
    padding:                    20px;
    -webkit-transform:          perspective(700px)
                                translate3d(0,0,0);
}

#profile-img img {
    height:                     200px;
    width:                      auto;
}

#profile-img {
    float:                      left;
    background-color:           rgba(192,192,192,0.5);
    padding:                    10px;
    margin-right:               20px;
}


/*==========================================
    footer styles
==========================================*/



#main-footer    {
    background-color:           rgba(97,97,97,0.5);
    position:                   fixed;
    bottom:                     0;
    left:                       0;
    text-align:                 center;
    width:                      100%;
    color:                      #fff;
    font-size:                  12px;
    height:                     20px;
}


#footer-navigation {
    padding:                    0;
    margin:                     2px 0 0 0;
}

#footer-navigation li {
    display:                    inline-block;
}

#footer-navigation a {
    color:                      #fff;
    -webkit-transition:         all 500ms;
}

#footer-navigation a:hover {
    color:                      #808080;
}

#footer-navigation li:after {
    content:                    '';
    border-right:               1px dashed;
    padding-right:              5px;
}

#footer-navigation li:last-child:after {
    display:                    none;
}

/*==========================================
    generic styles
==========================================*/
.fiddle-button {
    text-align:                 right;

}

h1{
    border-bottom:              1px dashed #545454;
    text-transform:             uppercase;
    text-align:                 center;
}

ul.no-list {
    list-style:                 none;
}

.no-text-deco li a {
    text-decoration:            none;
}



/*==========================================
    toggler styles
==========================================*/



div.toggler .content-toggler {
-webkit-transition:             all 500ms;
overflow:                       hidden;
opacity:                        1;
height:                         auto;
color:                          #fff;
background-image:               url(http://subtlepatterns.com/patterns/frenchstucco.png);
width: 100%;
padding: 0 50px;
margin-left: -50px;
}

a.show-hide {
color:                        #545454;
text-decoration:              none;
display:                      block;
text-align:                   center;
}

div.toggler.hide .content-toggler {
height:                         0;
}



/*==========================================
    grid styles
==========================================*/




#grid {
 pointer-events:                none;
 opacity:                       0;
 height:                        100%;
 position:                      absolute;
 float:                         left;
 top:                           0;
 left:                          0;
 z-index:                       999999;
 width:                         100%;
}

#grid .wrapper {
  width:                        960px;
  margin:                       auto;
  height:                       100%;
  outline:                      2000px solid #aaeeff;
 }

#grid .grid-stripe {
  width:                        60px;
  margin:                       0 10px;
  float:                        left;
  height:                       100%;
  background:                   rgba(50,200,150,0.5);
 }
